body {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    background-color: rgba(15,23,42,255);
    color: rgba(210,220,237,255);
    font-family: "Chakra Petch", sans-serif;
}

h1 {
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: lighter;
    font-size: 3rem;
    margin: 0;
}

h3 {
    font-size: 2.5rem;
}

p, 
ul li {
    font-size: 1.3rem;
}

.wave {
    font-size: 1.5rem;
    display: inline-block;
    animation: wave-animation 2.5s infinite;
    transform-origin: 70% 70%;
}

@keyframes wave-animation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}


.navbar img {
    border-radius: 50%;
}

#bio {
    font-size: 1.5rem;
    opacity: 50%;
    margin: 0;
    padding-left: 55px;
}

.square-bullets {
    list-style-type: square;
}

#alert-container {
    position: fixed;
    top: 30%;
    right: 40%;
    padding: 15px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    max-width: 90%;
    width: 300px;
    z-index: 1000;
    text-align: center;
    justify-content: center;
}

#alert-container.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

#alert-container.info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}

#alert-container.warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #1b2533;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    color: #f6f6f6;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #f6f6f6;
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: #1b2533; 
    color: #d2dced; 
    border: 2px solid #60c7f4; 
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.weather-button {
    text-align: center;
    padding-bottom: 20px;
}

button:hover {
    background-color: #1a2331; 
    color: #f6f6f6; 
}

footer {
    background-color: #1b2533; 
    color: #97AABD; 
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 90%;
    border-top-right-radius: 90%;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-links ul li {
    display: inline-block;
    animation: wave 4s infinite;
}

.footer-links ul li:nth-child(2) {
    animation-delay: 0.2s;
}

.footer-links ul li:nth-child(3) {
    animation-delay: 0.4s;
}

.footer-links ul li:hover i {
    color: #90e0ef;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.footer-links ul li i {
    font-size: 24px;
    color: #60c7f4;
}

.copywrite {
    margin-top: 15px;
    font-size: 14px;
    opacity: 0.8;
}

.copywrite p {
    margin: 5px 0;
}

/* Resume Page */
#heading, 
.sub-heading {
    font-family: "PT Sans Narrow", sans-serif;
}

.centered-container {
    text-align: center;
}

.centered-container ul {
    display: inline-block;
    text-align: center;
    padding-left: 0;
    list-style-position: inside;
    list-style: none;
}

#heading {
    font-size: 4rem;
    opacity: 80%;
}

.sub-heading {
    font-size: 2.6rem;
    padding-top: 1rem;
}

hr {
    width: 15%;
    height: 5px; 
    background-color: #60c7f4; 
    border: none; 
    margin: 0 auto;
}

/* Projects page */
.project-card {
    background-color: #1b2533;
    border-radius: 10px;
    height: 400px;
    padding: 15px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card img {
    border-radius: 10px;
    width: 100%;
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

.project-date, .project-link {
    font-size: 1rem;
    color: #d2dced;
}

.project-link {
    text-decoration: underline;
    color: #60c7f4;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*race gear page*/
.about-project {
    text-align: center;
    padding: 20px;
    width: 100%;
}

#racegear-logo,
#stories-logo {
    height: 150px;
}

.bg {
    background-color: #f6f6f6;
    width: 10%;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
}

#blog {
    width: 45%;
}

.about-project .project-card {
    height: 200px;
}

.about-project #racegear-home {
    width: 50%;
}

.about-project .project-card img:hover {
    transform: scale(1.2);
}

.about-project a {
    color: #60c7f4;
}

@media (max-width: 768px) {
    #bio {
        padding-left: 0;
    }

    #alert-container {
        right: 10%;
    }

    .about-project #racegear-home {
        width: 80%;
    } 
    
    .about-project .project-card {
        height: 150px;
    }
}